.event-home > ul {
	padding-left: 0;
	background-color: #152B42;
	min-height: 85vh;
	margin: 0;
}

.event-list > li {
	margin-bottom: 2%;
	list-style: none;
}

.events-error {
	text-align: center;
	color: red;
}