.new-event {
	text-align: center;
}

.event-form {
	width: 60%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	border: 1px solid black;
	padding-top: 1%;
	padding-bottom: 1%;
}

input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	width: 80%;

}

label {
	padding-left: 10%;
}

.field-error {
	padding-left: 10%;
	color: red;
	float: left;
}

.form-error {
	text-align: center;
	color: red;
}

.form-button {
	height: 5vh;
	width: 15%;
	margin-top: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}