.new-event {
	text-align: center;
}

.event-form {
	color: white;
	width: 95%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	border: 1px solid black;
	padding-top: 1%;
	padding-bottom: 1%;
	/*background-color: white;*/
}

.new-event-page > h2 {
	margin-top: 0;
	padding-top: 2%;
	color: white;
}

.event-form * input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	width: 90%;

}

.event-form * label {
	padding-left: 5%;
}

.event-form * .field-error {
	padding-left: 5%;
	color: red;
	float: left;
}

.event-form * .form-error {
	text-align: center;
	color: red;
}

.event-form > .form-button {
	height: 4vh;
	width: 15%;
	margin-top: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-height: 30px;
	max-height: 50px;
	background-color: white;
	color: #152B42;
	border: 1px solid black;
	text-align: center;
	cursor: pointer;
}

@media screen and (min-width: 600px) {
	.event-form {
		width: 85%;
	}	
}

@media screen and (min-width: 900px) {
	.event-form {
		width: 70%;
	}	
}