
.header-div {
	color: #152B42;
	border: solid 1px black;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	padding-left: 2%;
	height: 100%;
	display: flex;
	align-items: center;
}

.logo > h1 {
	margin: 0;
	font-size: 1.5em;
	font-family: 'Archivo Black', sans-serif;
}

nav {
	height: 100%;
	width: 30%;
}

.dropdown-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.nav-list {
	display: none;
	font-family: 'Tenor Sans', sans-serif;
}

.nav-list > li {
	margin-top: 10%;
	list-style: none;
}

.nav-list * a {
	color: #152B42; 
}

a {
	text-decoration: none;
	font-size: 1em;
}

.logout-button {
	color: #152B42;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 1em;
}

@media screen and (max-width: 749px) {

	.dropdown-container * .list-button {
		background-color: white;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 10%;
		text-align: center;
	}
	
	.dropdown-container:hover > .nav-list {
		background-color: white;
		position: absolute;
		height: 100%;
		width: 100%;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		top: 100%;
	}
}

@media screen and (min-width: 750px) {
	.logo > h1 {
		font-size: 1.7em;
	}
	.logo {
		width: 55%;
	}
	
	.fa-navicon {
		display: none;
	}

	nav {
	height: 100%;
	width: 40%;
	}

	.dropdown-container {
		height: 100%;
	}

	.nav-list {
		height: 100%;
		width: 100%;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.nav-list > li {
		margin-top: 0;
	}
}

@media screen and (min-width: 950px) {
	nav {
		width: 30%
	}
}
